---
import ThreeColumnLayout from "@layouts/ThreeColumnLayout.astro";
import LeftSidebar from "@components/widgets/LeftSidebar.astro";
import RightSidebar from "@components/widgets/RightSidebar.astro";
import { ArchiveContainer } from "@features/archive/ArchiveContainer";
import { getPostsData } from "@src/hooks/usePostsData";
import { CREATE_TIME } from "@src/consts";

const {
  posts,
  tagCountsMap,
  totalPostsCounts,
  totalTagsCounts,
  totalPostsWords,
} = await getPostsData();

const siteData = {
  createTime: CREATE_TIME,
  articleCount: totalPostsCounts,
  tagCount: totalTagsCounts,
  wordCount: totalPostsWords,
};
---

<ThreeColumnLayout
  title="文章归档"
  description="将所有文章按照年份和标签进行归档"
>
  <LeftSidebar slot="left-sidebar" />

  <div class="space-y-6">
    <div class="py-2">
      <h1
        class="text-3xl font-extrabol tracking-tight bg-linear-to-r from-cyan-400 to-indigo-400 bg-clip-text text-transparent"
      >
        Content Archive
      </h1>
      <p class="text-sm text-slate-500 mt-2">已识乾坤大，犹怜草木青</p>
    </div>

    <ArchiveContainer client:load posts={posts} tagCountsMap={tagCountsMap} />
  </div>

  <RightSidebar slot="right-sidebar" siteData={siteData} />
</ThreeColumnLayout>
